body {
  font-family: var(--font-primary);
  font-weight: normal;
  background-color: var(--background-color);
  margin: 0;  
  padding: 20px;
  color: var(--text-primary);
}

h1 {
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: 4.5rem;
  text-shadow: 2px 2px black;
}

p {
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 2px 2px black;
}

label {
  font-size: 2rem;
}

button {
  flex: 1;
  padding: 5px;
  width: 15%;
  aspect-ratio: 4/1;
  font-size: 2rem;
  cursor: pointer;
  font-family: var(--font-primary);
  color: var(--text-primary);
  font-weight: bold;
  text-shadow: 2px 2px black;
  background-color: var(--parchment-color);
  border-radius: 7px;
}

.selecter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  text-align: center;
}

.options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  user-select: none;
}

label {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}


input[type=radio] + label img {
  border: 2px solid transparent;
  width: 200px; 
}

input[type=radio]:checked + label img {
  border-color: whitesmoke;
  box-shadow: 0 0 10px rgba(220,220,220,0.5);
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

footer a {
  color: lightgray;
}
