@keyframes fadeIn {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  } 100% {
    opacity: 0;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.fade-out {
  opacity: 1;
  animation: fadeOut 1s ease-in-out forwards;
}

#story-text {
  text-shadow: none;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

body {
  font-family: var(--font-primary);
  font-weight: normal;
  background-image: url('../assets/maps/Papyrus.jpg');
  margin: 0;  
  padding: 20px;
  color: var(--text-secondary);
}

h1 {
  font-family: var(--font-primary);
  color: var(--text-primary);
  font-weight: bold;
  font-size: 4.5rem;
  text-shadow: 3px 3px black;
}

p {
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 2px 2px black;
}

span {
  font-weight: bold;
  font-size: 3rem;
  color: var(--text-primary);
  text-shadow: 2px 2px black;
}

label {
  font-size: 2.5rem;
}

input[type="text"] {
  width: 15%;
  padding: 10px;
  background-color: var(--parchment-color);
  border-radius: 5px;
  border: 2px solid var(--background-color);
  font-family: "papyrus";
  font-weight: bold;
  font-size: 2rem;
}

button {
  flex: 1;
  padding: 5px;
  width: 15%;
  aspect-ratio: 4/1;
  font-size: 2rem;
  cursor: pointer;
  font-family: var(--font-primary);
  color: var(--text-primary);
  font-weight: bold;
  text-shadow: 2px 2px black;
  background-color: var(--parchment-color);
  border-radius: 7px;
}

.rewrite-button {
  width: fit-content;
}

.selecter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  text-align: center;
}

.options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  user-select: none;
}

label {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}


input[type=radio] + label img {
  border: 2px solid transparent;
  width: 200px; 
}

input[type=radio]:checked + label img {
  border-color: var(--background-color);
  box-shadow: 0 0 10px whitesmoke;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

footer a {
  color: lightgray;
}

.hidden {
  display: none;
}